<!DOCTYPE html>
<html>
  <head>
    <title>OI</title>
    <meta name="viewport" content="width=device-width minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  </head>
  <body>
    <div id="sidebar">
      <div id="top">
        <span>OI</span>
      </div>
      <div class="seperator"></div>
      {% if user %}
      <div id="account">
        <img src="{{ user.avatar }}">
        <span class="name">{{ user.name }}</span>
        <div class="buttons">
          <a class="button">Setting</a>
          <a class="button" href="{{ url_for('do_sign_out') }}">Sign out</a>
        </div>
      </div>
      <div class="seperator"></div>
      <div class="label">
        My repositories
      </div>
      {% if user.github_access_token %}
      <ul id="repositories">
        {% for repo in user.repositories %}
        <li class="{{ 'selected' if repository and repo.id == repository.id }}"><a href="{{ url_for('repository.show_repository', repository_id=repo.id) }}">{{ repo.name }}</a></li>
        {% endfor %}
      </ul>
      <div>
        <a class="button" href="{{ url_for('repository.add_repository') }}">Add Repository</a>
      </div>
      {% else %}
      <div id="signin">
        <p>You have to sign in with GitHub to add your repository.</p>
        {% if message %}<p class="error">{{ message }}</p>{% endif %}
        <a class="button" href="{{ url_for('oauth.redirect_to_auth', service='github') }}">
          Sign in with GitHub
        </a>
      </div>
      {% endif %}
      <div class="seperator"></div>
      <div class="label">
        Following repositories
      </div>
      <ul id="repositories">
      </ul>
      <div>
        <a class="button">Follow Repository</a>
      </div>
      {% else %}
      <div id="signin">
        <p>You have to sign in to use OI service.</p>
        {% if message %}<p class="error">{{ message }}</p>{% endif %}
        <a class="button" href="{{ url_for('oauth.redirect_to_auth', service='google') }}">
          Sign in with Google
        </a>
      </div>
      {% endif %}
    </div>
    <div id="content">
      {% block content_block %}
      {% endblock %}
    </div>
  </body>
</html>
