<!DOCTYPE html>
<html>
  <head>
    <title>OI</title>
    <meta name="viewport" content="width=device-width minimum-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  </head>
  <body>
    <div id="top">
      <div id="top-left">OI</div>
    </div>
    <div id="content">
      {% block content_block %}
      <div id="list">
        <div class="item">
          <img class="avatar" src="{{ url_for('static', filename='img/starbucks_logo.png') }}" />
          <div class="name">실행이 되지를 않네요.</div>
          <div class="content">가나다라마바사</div>
        </div>
        <div class="item">
          <img class="avatar" src="{{ url_for('static', filename='img/starbucks_logo.png') }}" />
          <div class="name">이런 기능은 어떤가요?</div>
          <div class="content">A 키를 누르면 우주 정복을 하는거예요.</div>
        </div>
      </div>
      <div id="issue-content">
        <h1>There is issues!</h1>
      </div>
      {% endblock %}
    </div>
  </body>
</html>
