html {
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-family: sans-serif;
  color: #333;
}
div#sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 200px;
  background-color: #333;
  color: #CCC;
  z-index: 9999;
}
div#sidebar a.button {
  background-color: #666;
  color: #CCC;
}
div#sidebar div.label {
  color: #999;
  font-weight: bold;
  padding: 12px 12px 6px 12px;
}
div#signin {
  padding: 12px;
}
div#signin p {
  margin: 0 0 12px 0;
}
div#top {
  padding: 12px;
  border-bottom: #444 1px solid;
}
div#top span {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
}
div#account {
  padding: 12px;
  border-bottom: #444 1px solid;
}
div#account img {
  width: 28px;
  height: 28px;
  margin-right: 3px;
  vertical-align: top;
}
div#account span.name {
  line-height: 28px;
}
div#account div.buttons {
  margin-top: 12px;
}
div#account div.buttons a.button {
  margin-right: 6px;
}
ul#repositories {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#repositories li {
  padding: 6px 12px;
  color: #fff;
}
ul#repositories li.selected {
  background-color: #444;
}
div#content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 200px;
  padding: 12px 24px;
}
p.error {
  color: #f00;
  font-weight: bold;
}
a.button {
  display: inline-block;
  padding: 6px;
  text-decoration: none;
  background-color: #CCC;
}
