html {
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-family: sans-serif;
  color: #333;
}
div#sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 200px;
  background-color: #333;
  color: #CCC;
  z-index: 9999;
  overflow-y: scroll;
}
div#sidebar a.button,
div#sidebar button.button {
  background-color: #666;
  color: #CCC;
}
div#sidebar > div {
  padding: 12px 12px 0px 12px;
}
div#sidebar div.label {
  color: #999;
  font-weight: bold;
}
div#sidebar div.seperator {
  padding: 12px 0 0 0;
  margin: 0;
  height: 0;
  border-bottom: #444 1px solid;
}
div#signin {
  padding: 12px;
}
div#signin p {
  margin: 0 0 12px 0;
}
div#top span {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 60px;
}
div#account img {
  width: 28px;
  height: 28px;
  margin-right: 3px;
  vertical-align: top;
}
div#account span.name {
  line-height: 28px;
}
div#account div.buttons {
  margin-top: 12px;
}
div#account div.buttons a.button,
div#account div.buttons button.button {
  margin-right: 6px;
}
ul#repositories {
  list-style: none;
  margin: 0;
  padding: 12px 0 0 0;
}
ul#repositories li {
  padding: 6px 12px;
}
ul#repositories li.selected,
ul#repositories li:hover {
  background-color: #444;
}
ul#repositories li a {
  color: #fff;
  text-decoration: none;
}
div#content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 200px;
  padding: 12px 24px;
  overflow-y: scroll;
}
p.error {
  color: #f00;
  font-weight: bold;
}
a.button,
button.button {
  display: inline-block;
  padding: 6px;
  text-decoration: none;
  background-color: #CCC;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  font-family: sans-serif;
}
div.issue {
  padding: 6px 12px;
  margin-bottom: 6px;
  border: 1px solid #CCC;
}
div.issue div.number {
  display: inline-block; 
  vertical-align: top;
  line-height: 48px;
  padding-right: 6px;
  width: 60px;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
  color: #CCC;
}
div.issue div.content {
  display: inline-block; 
  vertical-align: top;
}
div.issue div.title {
  line-height: 26px;
}
div.issue div.title span.title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 3px;
  vertical-align: top;
}
div.issue div.title span.label {
  font-size: 12px;
  padding: 1px 3px;
  border: 1px solid;
  border-left: 6px solid;
  cursor: pointer;
}
div.issue img.user {
  width: 16px;
  height: 16px;
  padding: 3px 0;
}
div.issue span.information {
  line-height: 22px;
  vertical-align: top;
}
div.issue.open div.number {
  color: #0a6;
}
a.toggle {
  color: #999;
  text-decoration: none;
}
a.toggle.active {
  font-weight: bold;
  color: #333;
}
span.filter {
  padding: 1px 3px;
  background-color: #666;
  font-size: 0.8em;
  color: #fff;
}

